.dashboard-main-container {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    margin-top:auto;
    margin-bottom: 2rem;
    margin-left:2rem;
    margin-right:2rem;
    display: flex;
}

.dashboard-details__container {
    padding: 2rem;
    flex-basis: 60%;
    margin-right: 2rem;
    background-color: #aaa;
    border-radius: 5px;
}

.dashboard-details__header {
    display: flex;
    padding: 2rem;
    justify-content: space-around;

    img {
        height: 15rem;
        width: 15rem;
    }

    .name-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    h2 {
        margin: 0;
        font-size: 5rem;
    }
}

.dashboard-sidebar {
    background-color: #eee;
    flex-basis: 40%;

    .branch__details {
        background-color: #ccc;
        padding: 2rem;
        margin: 2rem;
    }

    .trainer__details, .customer__details, .applications {
        margin: 2rem;
        padding: 2rem;
        background-color: #ccc;
    }

    .customers-list, .applications-list {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        &__item {
            display: flex;
            justify-content: space-between;
        }
    }
}